h2 {
  margin-bottom: 1rem;
}

mat-card {
  margin-top: 32px;
  background-color: #263238;
  color: white;
  padding: 2rem;
}

.feedback-form {
  text-align: center;
  margin-bottom: 5rem;
}

.form-container {
  display: inline-block;
}

@media (max-width: 992px) {
  .form-container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .form-container {
    width: 50%;
  }
}

.form-container > * {
  width: 100%;
}

mat-placeholder {
  color: white;
}

textarea {
  resize: vertical;
  max-height: 400px;
  height: 100px;
}

.validation-error {
  color: red;
  font-style: italic;
  margin-bottom: 8px;
}

.form-guide {
  margin-bottom: 2rem;
}

.form-guide > p {
  margin-bottom: 0;
}

.feedback-form {
  text-align: center;
}
