<mat-card *ngIf="playerHistory">
  <h2>Recent performance</h2>
  <div class="row justify-content-around">
    <div class="col-12 col-lg-4">
      <h4>Last {{matchesMap.length}} matches:</h4>
      <div class="row">
        <div class="col-12">
          <mat-spinner [diameter]="60" *ngIf="!allMatchesLoaded"></mat-spinner>
          <app-last-matches-performance *ngIf="playerHistory && allMatchesLoaded"
                                        [playerModels]="detailedPlayers"
                                        [wins]="getWinsCount()">
          </app-last-matches-performance>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <h4>{{performanceLabel}} progress:</h4>
      <div class="row">
        <div class="col-12">
          <app-elo-history-chart (whenLabelChanged)="whenLabelChanged($event)" *ngIf="playerHistory"
                                 [playerHistory]="playerHistory"></app-elo-history-chart>
        </div>
      </div>
    </div>
  </div>
</mat-card>
