ul {
  list-style-type: none;
  padding-left: 1rem;
}

img {
  width: 80px;
  height: 80px;
  float: left;
}

div {
  display: inline-block;
}

.profile {
  font-size: 13px;
  cursor: pointer;
  overflow: auto;
}

.badge {
  width: 16px;
  height: 16px;
}

a {
  text-decoration: none;
  color: rgb(255, 253, 253);
}

.profile:hover {
  cursor: pointer;
}
