.profile {
  font-size: 13px;
  cursor: pointer;
  overflow: auto;
}

a {
  text-decoration: none;
  color: rgb(255, 253, 253);
}

.profile:hover {
  cursor: pointer;
}

.col-3 {
  display:flex;
}

.player-name {
  width: 100%;
  background-color: #f3f3f30f;
  text-align: center;
}

.player-name:hover {
  background-color: rgba(223, 223, 223, 0.26);
  transition: 0.5s;
}

h5 {
  padding-top: 4px;
  letter-spacing: 2px;
}
