<a class="profile" routerLink="player/{{profile.nickname}}">
      <img *ngIf="profile.avatarUrl" src="{{profile.avatarUrl}}" (error)="removeInvalidUrl()" class="avatar"
           alt="avatar">
      <img *ngIf="!profile.avatarUrl" src="assets/common/empty-avatar.jpeg" class="avatar" alt="avatar">
    <div>
      <ul>
        <li><h5>{{profile.nickname}} </h5></li>
        <li>Level: <span class="primary-color">{{profile.level}}</span></li>
        <li>Elo: <span class="primary-color">{{profile.elo}}</span></li>
        <li>KD: <span class="primary-color">{{profile.kdRatio | number: '1.2-2'}}</span></li>
      </ul>
    </div>
</a>
