<div class="container">
  <mat-card>
    <h2>About</h2>
    <mat-card-content>
      <p>Tuscan.pro is an open-source project using Faceit API for presentation and analysis of recent and overall CS:GO
        players performance during Faceit matches.
        This site was created to visualize your recent and overall skill progress using colorful and intuitive graphs
        and charts. It was developed by players - for players.</p>

      <div class="row icons">
        <div class="col-12 col-md-3 tile">
          <i class="fab fa-github fa-5x"></i>
          <div class="label">Our code is completely open source. Feel free to contribute!</div>
        </div>
        <div class="col-12 col-md-3 tile">
          <i class="fab fa-chrome fa-5x"></i>
          <div class="label">You can also check our Chrome extension.</div>
        </div>
        <div class="col-12 col-md-3 tile">
          <i class="fab fa-java fa-5x"></i>
          <div class="label">Backend developed and maintained in Java.</div>
        </div>
        <div class="col-12 col-md-3 tile">
          <i class="fab fa-angular fa-5x"></i>
          <div class="label">We use Angular for our frontend services.</div>
        </div>
      </div>
      <div class="donate">
        <img class="donateImg" src="https://www.paypalobjects.com/en_US/PL/i/btn/btn_donateCC_LG.gif"
             (click)="navigateToDonation()" alt="Donate">
        <span>You can help us improve and remain our site ad free. Thank you!</span>
      </div>
    </mat-card-content>
  </mat-card>

</div>
