<div class="container">
  <mat-card>
    <h2>About</h2>
    <mat-card-content>
      <p>
        Tuscan.pro is an open-source project using Faceit API for presentation and analysis of recent and overall CS:GO
        players performance during Faceit matches.
        This site was created to visualize your recent and overall skill progress using colorful and intuitive graphs
        and charts. It was developed by players - for players.
      </p>

      <div class="row icons">
        <div class="col-12 col-md-4 tile" (click)="navigateToFrontendSourceCode()">
          <div [inlineSVG]="'../../assets/common/github.svg'" class="icon"></div>
          <div class="label">Our code is open source</div>
        </div>
        <div class="col-12 col-md-4 tile" (click)="navigateToBackendSourceCode()">
          <div [inlineSVG]="'../../assets/common/java.svg'" class="icon"></div>
          <div class="label">Backend developed and maintained in Java</div>
        </div>
        <div class="col-12 col-md-4 tile" (click)="navigateToExtension()">
          <div [inlineSVG]="'../../assets/common/googlechrome.svg'" class="icon"></div>
          <div class="label">Check also our Faceit extension for Chrome</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
