.player-performance {
  border-bottom: 1px ridge rgba(255, 255, 255, 0.2);
}

.player-performance:hover {
  background-color: rgba(173, 91, 9, 1);
}

.kdNegative {
  background-color: red;
}

.kdPositive {
  background-color: green;
}

.checkedPlayer {
  color: rgb(243, 128, 30);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.22);
}
