<section class="player-performance" [ngClass]="{'checkedPlayer': isCheckedPlayer}">
  <div class="row">
    <div class="col-3 col-md-4">
      {{player.nickname}}
    </div>
    <div class="col-3 col-md-2">
      {{player.playerStats.kills}}/{{player.playerStats.assists}}/{{player.playerStats.deaths}}
    </div>
    <div class="col-2 col-md-1" [ngClass]="{'kdNegative': player.playerStats.kdRatio < 1, 'kdPositive': player.playerStats.kdRatio >= 1}">
      {{player.playerStats.kdRatio}}
    </div>
    <div class="col-2">
      {{player.playerStats.krRatio}}
    </div>
    <div class="col-1 col-md-2">
      {{player.playerStats.headshotPercentage}}
    </div>
  </div>
</section>
