.player-performance {
  border-bottom: 1px ridge rgba(255, 255, 255, 0.2);
}

.player-performance:hover {
  background-color: rgba(173, 91, 9, 1);
}

.kdNegative {
  background-color: red;
}

.kdPositive {
  background-color: green;
}

.checkedPlayer {
  border: solid 2px rgb(188, 107, 9);
  background-color: rgba(188, 107, 9, 0.2);
}
