<div class="container">
  <div *ngIf="hasData">

    <div class="row player">
      <div class="col-12">
        <h1>{{nickname}} <app-flag [country]="player.country"></app-flag></h1>
      </div>
    </div>

    <h2 class="header2">Player details</h2>
    <div class="row player-details">
      <div class="col-2">
        <img src="{{player.avatarUrl}}" class="avatar">
      </div>
      <div class="col-4">
        <app-overall-stats *ngIf="playerStats" [overallStats]="playerStats.overallStats"></app-overall-stats>
      </div>
      <div class="col-6">
        <section *ngIf="player.gameDetails">
          <p> Level:
            <app-badge [level]="player.gameDetails.level"></app-badge>
          </p>
          <p> Faceit Elo: {{ player.gameDetails.faceitElo }}</p>
          <app-progress-bar [elo]="player.gameDetails.faceitElo" [level]="player.gameDetails.level"></app-progress-bar>
          <app-level-hint [level]="player.gameDetails.level" [elo]="player.gameDetails.faceitElo"></app-level-hint>
        </section>
      </div>
    </div>

    <section id="matches">
    <h2 class="header2">Recent matches</h2>
      <div class="row matches-section">

        <div class="col-1">
          SCORE
        </div>
        <div class="col-3">
          MAP
        </div>
        <div class="col-3" style="text-align: right">
          STARTED AT
        </div>
        <div class="col-3" style="text-align: right">
          FINISHED AT
        </div>
        <div class="col-2" style="text-align: right">
          ELO DIFF
        </div>

        <div *ngFor="let match of matches" class="col-12">
          <app-match-cell [match]="match" [details]="getMatchResult(match.matchId)" [matchHistory]="getMatchHistory(match.matchId)"></app-match-cell>
        </div>
      </div>
    </section>

    <section *ngIf="!player.gameDetails">
      This player has not any CS:GO matches.
    </section>
  </div>

  <div *ngIf="!hasData && !isLoading">
    Sorry! We could not find player details for provided nickname.
  </div>

  <app-loader *ngIf="isLoading"></app-loader>
</div>
