.main-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-header {
    background: rgba(254, 82, 23, 0.55);
    margin-top: 8px;
    margin-bottom: 8px;
    padding: auto;
}

#matches {
  margin-top: 24px;
  margin-bottom: 24px;
}

#last-matches {
  margin-top: 24px;
  margin-bottom: 24px;
}

#recent-performance {
  margin-top: 24px;
  margin-bottom: 24px;
}

#map-performance {
  margin-top: 24px;
  margin-bottom: 24px;
}

.map-performance-section {
  background-color: rgba(175, 175, 175, 0.39);
  border-radius: 6px;
}

.matches-section {
  background-color: rgba(175, 175, 175, 0.39);
  border-radius: 6px;
}

.player-details {
  background-color: rgba(175, 175, 175, 0.39);
  border-radius: 6px;
  padding: 10px;
}

.player {
  text-align: center;
  margin-top: 16px;
}

.avatar {
  height: 180px;
  width: 180px;
}

@media screen and (max-width: 992px) {
  .avatar {
    height: 140px;
    width: 140px;
  }
}
