<div class="nail">
<img *ngIf="name === 'DE_TRAIN'" src="assets/maps/train.png">
<img *ngIf="name === 'DE_NUKE'" src="assets/maps/nuke.png">
<img *ngIf="name === 'DE_INFERNO'" src="assets/maps/inferno.png">
<img *ngIf="name === 'DE_DUST2'" src="assets/maps/dust.png">
<img *ngIf="name === 'DE_CBBLE'" src="assets/maps/cbble.png">
<img *ngIf="name === 'DE_OVERPASS'" src="assets/maps/overpass.png">
<img *ngIf="name === 'DE_CACHE'" src="assets/maps/cache.png">
<img *ngIf="name === 'DE_MIRAGE'" src="assets/maps/mirage.png">
<img *ngIf="name === 'DE_SEASON'" src="assets/maps/season.png">

<div class="centered">{{text}}</div>
</div>
