<div class="teammates-container">
  <h3>The most frequent teammates in last {{matches.length}} matches</h3>

  <div class="row justify-content-center">
    <a *ngFor="let teammate of mostFrequentTeammates | orderBy:'matchesPlayed' : true" class="col-6 col-md-4 col-lg-2 single-player"
    href="/player/{{teammate.player.nickname}}" target="_blank">
      <app-avatar [level]="teammate.player.gameDetails.level"
                  [avatarUrl]="teammate.player.avatarUrl"></app-avatar>
      <div class="details-container">
        <h5 class="primary-color">{{teammate.player.nickname | uppercase}}</h5>
        <p>Elo: {{teammate.player.gameDetails.faceitElo}}</p>
        <p>{{teammate.matchesPlayed}} matches</p>
      </div>

    </a>
  </div>
</div>
