a {
  text-decoration: none;
}

.player-performance {
  background-color: rgba(255, 253, 253, 0.05);
  border-left: 6px solid transparent;
  padding: 4px 4px 4px 8px;
}

@media screen and (max-width: 992px) {
  .player-performance {
    font-size: 12px;
  }
}

.player-performance:hover {
  border-left: 6px solid #e64a19;
}

.playerLinkChecked:hover {
  color: #e64a19;
}

.playerLinkNormal {
  color: white;
}

.checkedPlayer {
  text-shadow: 2px 2px rgba(52, 52, 52, 0.37);
}
