<div class="chart-elo">
  <div class="row">
  <mat-form-field appearance="fill" style="float: right">
    <mat-label>Choose stat</mat-label>
    <mat-select [value]="'ELO'" (selectionChange)="changeData($event)">
      <mat-option [value]="'ELO'">ELO</mat-option>
      <mat-option [value]="'KD'">KD</mat-option>
      <mat-option [value]="'HS%'">HS%</mat-option>
    </mat-select>
  </mat-form-field>
  </div>
  <div class="row" id="line-chart-parent">
    <ngx-charts-line-chart
      [curve]="curve"
      [autoScale]="true"
      [scheme]="colorScheme"
      [legend]="false"
      [showXAxisLabel]="false"
      [showYAxisLabel]="false"
      [xAxis]="true"
      [yAxis]="true"
      [results]="simple"
      [showGridLines]="true"
      [animations]="true"
      style="fill: white;"
    >
    </ngx-charts-line-chart>
  </div>
</div>
