<div *ngIf="loaded" class="flags">
    <div class="section-flag" matTooltip="Position in country" [matTooltipPosition]="'above'">
      <app-flag [country]="country" [size]="32"></app-flag>
    <span class="position-value"><span> {{country | uppercase}}: &nbsp;</span>{{positionInCountry | number: '1.'}}</span>
  </div>
  <div class="section-flag" matTooltip="Position in region" [matTooltipPosition]="'above'">
   <app-flag [country]="region" [size]="32"></app-flag>
    <span class="position-value"><span> {{region | uppercase}}: &nbsp;</span>{{positionInRegion | number: '1.'}}</span>
  </div>
</div>

<mat-progress-bar *ngIf="!loaded" mode="indeterminate"></mat-progress-bar>
