<div class="row justify-content-center" *ngIf="membership != 'FREE'">
  <div class="col-12 col-img vcenter">
    <div>
      <img *ngIf="membership == 'PREMIUM'" src="../../../assets/badges/memberships/premium.png" alt="premium">
      <img *ngIf="membership == 'UNLIMITED'" src="../../../assets/badges/memberships/unlimited.png" alt="faceit unlimited">
      <img *ngIf="membership == 'CSGO'" src="../../../assets/badges/memberships/csgo.png" alt="csgo">
    </div>
    <div class="main">
      <span class="primary-color">FACEIT </span>
      <span>{{membership}}</span>
    </div>
  </div>
</div>
