#myProgress {
  width: 100%;
  background-color: grey;
}

#tooltips {
  width: 100%;
}

#level-1 {
  width: 0;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #e64a19;
}

.baselvl-tooltip {
}

.nextlvl-tooltip {
  margin-left: 9.2%;
}

@media(max-width: 410px) {
  #tooltips {
    font-size: 12px;
  }
}
