#myProgress {
  width: 100%;
  background-color: grey;
}

#tooltips {
  width: 100%;
}

@media(max-width: 410px) {
  #tooltips {
    font-size: 12px;
  }
}

#level-1 {
  width: 0;
}

#myBar {
  width: 1%;
  height: 8px;
  background-color: #e64a19;
  border-radius: 2px;
}

.lvl-segment {
  display: inline-block;
}
