<div style="display: block" class="chart-elo">
  <canvas mdbChart
          [chartType]="chartType"
          [datasets]="chartDatasets"
          [labels]="chartLabels"
          [colors]="chartColors"
          [options]="chartOptions"
          [legend]="false"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
  </canvas>
  <div class="row button-group">
    <div class="col-12 col-lg-4">
      <button mat-raised-button color="primary" (click)="setEloAsDataset()">Show ELO</button>
    </div>
    <div class="col-12 col-lg-4">
      <button mat-raised-button color="primary" (click)="setKdRatioAsDataset()">Show K/D
      </button>
    </div>
    <div class="col-12 col-lg-4">
      <button mat-raised-button color="primary" mdbWavesEffect (click)="setHsAsDataset()">Show HS%</button>
    </div>
  </div>
</div>
