<mat-card class="not-found-section">
  <mat-card-content>
    <h4>No such player!</h4>
    <div class="row not-found-section justify-content-md-center">
      <div class="col-12 message">
        <p>It seems that such a player does not exist on Faceit or has no CS:GO stats to show.</p>
        <p>Please make sure if provided nickname is correct. Notice that your input is case sensitive.</p>
      </div>
      <div class="col-8 homepage-button">
        <button mat-raised-button color="primary" (click)="returnToHomePage()"><span style="color: white">Return to home page</span>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
