h1 {
  text-align: center;
}

@media (min-width: 920px) {
  h1 {
    font-size: 100px;
  }
}

h3 {
  text-align: center;
}

@media (max-width: 720px) {
  h4 {
    text-align: center;
  }
}

mat-placeholder {
  color: white;
}

.search-button {
  display: flex;
  align-items: center;
}

.search-small {
  margin-top: 30%;
}

.search-hint {
  margin-bottom: 8px;
}

mat-card {
  margin-top: 32px;
  background-color: #263238;
  color: white;
  border-radius: 6px;
}

.hello-page {
  margin-top: 2rem;
}

button {
  width: 100%;
}

mat-form-field {
  display: inline;
}

.searching {
  text-align: center;
  height: 6px;
}

.mat-input-wrapper {
  background: gray;
}

.small-avatar {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.main-sec {
  text-align: center;
}

@media (max-width: 720px) {
  .entry-logo {
    width: 50%;
  }
}

@media (min-width: 720px) {
  .entry-logo {
    width: 20%;
  }
}

app-flag {
  margin-left: 10px;
}

mat-option {
  background-color: rgba(255, 255, 255, 0.39);
}

app-badge {
  margin-left: 1rem;
}
