h1 {
  text-align: center;
}

@media(min-width: 920px) {
  h1 {
    font-size: 100px;
  }
}

h3 {
  text-align: center;
}

@media(max-width: 720px) {
  h4 {
    text-align: center;
  }
}

.search-bar {
  margin-top: 48px;
}

.hello-page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-small {
  margin-top: 30%;
}

.search-hint {
  margin-bottom: 8px;
}

.latest-profiles {
  margin-top: 20px;
}

.header-small {
  margin-top: 15%;
}

