<div class="container hello-page">
  <section class="main-sec">
    <img src="assets/logos/banner.png" class="entry-logo">
    <h1>Tuscan</h1>
    <h3>Faceit CS:GO Player Stats Analyzer</h3>
  </section>

  <mat-card>
    <div class="row search-bar">
      <div class="col-12 col-md-7">
        <form class="example-form" [formGroup]='usersForm'>
          <mat-form-field class="example-full-width">
            <input matInput [matAutocomplete]="auto" formControlName='userInput'
                   [(ngModel)]="nickname">
            <mat-placeholder>Search for a player</mat-placeholder>
          </mat-form-field>

          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngIf="isSearching" class="searching">
              <app-roller></app-roller>
            </mat-option>
            <mat-option *ngFor="let user of (filteredUsers | async)?.players" [value]="user.nickname">
              <img *ngIf="user.avatarUrl" src="{{user.avatarUrl}}" class="small-avatar" onError="this.src = 'assets/common/empty-avatar.jpeg'" alt="avatar">
              <img *ngIf="!user.avatarUrl" src="assets/common/empty-avatar.jpeg" class="small-avatar" alt="avatar">
              <span>{{ user.nickname }}</span>
              <app-flag [country]="user.country | lowercase" [size]="16"></app-flag>
              <app-badge [level]="user.lvl"></app-badge>
            </mat-option>
          </mat-autocomplete>
        </form>
      </div>
      <div class="col-12 col-md-5 search-button">
        <button mat-raised-button color="primary" (click)="navigateToPlayerStats()"
                [disabled]="!hasInput()">Search
        </button>
      </div>
    </div>
  </mat-card>

  <mat-card class="latest-profiles">
    <h2>Latest profiles</h2>
    <mat-card-content>
      <app-latest-profiles></app-latest-profiles>
    </mat-card-content>
  </mat-card>
</div>
