.team {
  margin-top: 10px;
  margin-bottom: 10px;
}

.table-head {
  background-color: rgba(141, 139, 139, 0.05);
  padding: 4px;
  border-radius: 4px;
}

@media screen and (max-width: 992px) {
  .table-head {
    font-size: 12px;
  }
}

.active {
  color: #3498db;
}

span {
  cursor: pointer;
}
