a {
  text-decoration: none;
}

.player-performance {
  background-color: rgba(255, 253, 253, 0.05);
  padding: 4px;
  border-radius: 4px;
  transition: 1.5s;
}

@media screen and (max-width: 992px) {
  .player-performance {
    font-size: 12px;
  }
}

.player-performance:hover {
  border-left: 8px solid #e64a19;
  transition: 0.4s;
}

.kdNegative {
  background-color: red;
}

.kdPositive {
  background-color: green;
}

.playerLinkChecked {
  color: rgb(72, 203, 243);
}

.playerLinkNormal {
  color: white;
}

.checkedPlayer {
  color: rgb(72, 203, 243);
  text-shadow: 2px 2px rgba(17, 17, 17, 0.37);
}
