body {
  background-image: url("assets/background/infbg.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  z-index: -1;
  font-family: 'Lato', sans-serif;
  color: white;
}

/*FIXME: Change to "heading"?*/
h1, h2, h3, h4 {
  font-family: 'Quantico', sans-serif;
}

button:focus {
  outline: none!important;
}

span {
  outline: none;
}

mat-card {
  background-color: rgba(38, 50, 56, 0.91)!important;
}

mat-spinner {
  margin: 0 auto;
}
