body {
  background: url("assets/background/tuscan-bg.png");
  font-family: 'Lato', sans-serif;
  color: white;
}

/*FIXME: Change to "heading"?*/
h1, h2, h3, h4 {
  font-family: 'Quantico', sans-serif;
}
