html {
  height: 100%;
  width: 100%;
}

body:after {
  content: "";
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  z-index: -1;
  background: url("assets/background/infbg.jpg") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: gray;
}

/*FIXME: Change to "heading"?*/
h1, h2, h3, h4 {
  font-family: 'Quantico', sans-serif;
}

button:focus {
  outline: none !important;
}

span {
  outline: none;
}

mat-card {
  background-color: rgba(38, 50, 56, 0.91) !important;
}

mat-spinner {
  margin: 0 auto;
}
