.win {
  background-color: #1b5e20;
}

.loss {
  background-color: #d50000;
}

.positive {
  color: #9ccc65;
}

.negative {
  color: #ef9a9a;
}

.date {
  text-align: center;
}

.kd {
  text-align: right;
}

.map {
  text-align: center;
}

.cell-with-padding {
  padding: 5px;
}

#score {
  text-align: center;
}

.match-cell {
  border-top: 1px ridge rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: 0.35s;
}

@media screen and (max-width: 992px) {
  .match-cell {
    font-size: 12px;
  }
}

.match-cell:hover {
  background-color: #e64a19;
  transition: 0.3s;
}

.elo {
  text-align: right;
}

.no-data {
  color: darkgray;
}

.divA {
  height: 0;
}

@media(min-width: 720px) {
  .details-match {
    padding: 15px 15px;
  }
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.icon {
  display: inline-block;
  filter: brightness(0) invert(1);
}

.icon-download {
  padding-left: 0.6rem;
}

.icon-information {
  width: 20px;
}

@media (max-width: 768px) {
  .match-button-col {
    margin-top: 8px;
  }

  .team-match-col {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.demo-button {
  width: 100%;
}

.buttons-section {
  margin-bottom: 1rem;
}
