<div *ngIf="details" class="row match-cell" (click)="expand()">
  <div class="col-2 col-lg-1" [ngClass]="{'win': win, 'loss': !win }" id="score">
    {{details.score}}
  </div>
  <div class="col-2 col-lg-3">
    {{details.map}}
  </div>
  <div class="col-3 date">
    {{match.startedAt | date: 'dd/MM/yy, hh:mm a'}}
  </div>
  <div class="col-3 date">
    {{match.finishedAt | date: 'dd/MM/yy, hh:mm a'}}
  </div>
  <div *ngIf="matchHistory" class="col-2 elo">
    <span *ngIf="matchHistory.eloGain !== 0" [ngClass]="{'positive': isPositive(), 'negative': !isPositive() }"><span *ngIf="isPositive()">+</span>{{(matchHistory.eloGain)}}</span>
    <span class="no-data" *ngIf="matchHistory.eloGain === 0">no data</span>
  </div>
</div>
<app-match-details *ngIf="expanded" [teams]="details.teams"></app-match-details>
