.win {
  background-color: green;
}

.loss {
  background-color: red;
}

.positive {
  color: #00a800;
}

.negative {
  color: #ef574d;
}

.date {
  text-align: right;
}

#score {
  text-align: center;
}

.match-cell {
  border-top: 1px ridge rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .match-cell {
    font-size: 12px;
  }
}

.match-cell:hover {
  background-color: #ad5b09;
}

.elo {
  text-align: right;
}

.no-data {
  color: darkgray;
}
